body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}




.container{

    padding: 16px;
}

.container >div h2{
    text-align: center;

}
.intro{
    margin: -25px;
    padding: 16px;
    background-color: #eb7373;
    color: beige;
    text-align: center;

}
.intro img{
    height: 400px;
    width: 300px;
    border-radius: 16px;

}
.social-links img {
    height: 50px;
    width: 40px;
}

.social-links a {
    text-decoration: none;
    margin: auto 16px;
}

table
tr,
td,
th{
    border: 1px solid;
    border-collapse: collapse;
}
th,
td{
    padding: 8px;
}

